nav {
  background-color: #2c3e50;
  padding: 1rem;
}

nav a {
  color: rgb(253, 250, 250);
  text-decoration: none;
  margin-right: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color:rgba(31, 47, 62, 0.128)e;
  color: white;
}